*{
  margin:0;
  padding:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #6d7fcc;
    cursor: pointer;
}

#sidebarCollapse:hover {
    width: 40px;
    height: 40px;
    background: #3e57c5;
    cursor: pointer;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ----------------------------------------------------- */


body{
    font-family:arial,sans-serif;
    background: lightgray;
    color:#6d7fcc;
  }

  h2,p{
    font-size:100%;
    font-weight:normal;
  }

  h1 {
    padding-bottom: 5px;
    text-align: left;
  }
  
  h2,p{
    font-size:100%;
    font-weight:normal;
  }

#img_div {
    color: white;
    background-color: #6d7fcc;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

#img_div p {
    color: white;
}

#img_div img {
    padding: 10px;
    width: 500px;
}

#cadastro_div h1 {
    text-align: center;
    padding: 5px;
}

#cadastrarBtn {
   width: 100%;
   background: #6d7fcc;
   cursor: pointer;
}

#cadastrarBtn:hover {
    width: 100%;
    background: #3e57c5;
    cursor: pointer;
}